@import 'reset.scss';
:root {
    --primary-font: Helvetica, Arial, sans-serif;
    --secondary-font: Roboto;

    // Light and dark variables for animation when switching modes

    // Light mode
    --primary-color: #000;
    --secondary-color: #FFF;
    --aside-bg-color: #EBEBEB;
    --body-bg-color: #E7E9EB;
    --input-bg-color: #FFFFFF;
    --input-color: #000;
    --primary-gradient-color: rgb(207 47 152);
    --secondary-gradient-color: rgb(106 61 236);
    --slider-thumb-color: rgb(255, 255, 255);
    --glass-bg-color: rgba(255,255,255,0.25);
    --glass-border-color: rgba(255,255,255,0.3);
    --glass-border: 0.1em solid var(--glass-border-color);
    --glass-top-border: .05em solid var(--glass-border-color);
    --box-shadow: 0 0 2em 0 rgba(28, 28, 28, 0.5);

    // Dark mode
    --dark-primary-color: #FFFFFF;
    --dark-secondary-color: #000;
    --dark-aside-bg-color: #090C12;
    --dark-body-bg-color: linear-gradient(-90deg, #090C12, #1f2d48);
    --dark-input-bg-color: #636566;
    --dark-input-color: #FFFFFF;
    --dark-slider-thumb-color: #FFFFFF;
    --dark-glass-bg-color: rgba(0,0,0,0.25);
    --dark-glass-border-color: rgba(0,0,0,0.3);
    --dark-glass-border: 0.1em solid var(--dark-glass-border-color);
    --dark-glass-top-border: .05em solid var(--dark-glass-border-color);
    --dark-box-shadow: .8em .8em 1.5em #16192145, -.8em -.8em 1.5em #16192145;
}
body {
    font-family: var(--primary-font);
    background-color: var(--body-bg-color);
    // The dark background is a linear gradient, you cannot use
    // the transition from this to a background-color
    .bg-dark {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: var(--dark-body-bg-color);
        opacity: 0;
    }
    &:not(.dark) {
        .bi-moon-stars-fill {
            display: none;
        }
        #toggleMode {
            background: var(--dark-aside-bg-color);
            box-shadow: var(--box-shadow);
            svg, svg * {
                fill: var(--aside-bg-color);
            }
        }
    }
    // Change the variables if dark mode is active
    &.dark {
        .bg-dark {
            opacity: 1;
        }
        .bi-brightness-high-fill {
            display: none;
        }
        #toggleMode {
            background: var(--aside-bg-color);
            box-shadow: var(--box-shadow);
            svg, svg * {
                fill: var(--dark-aside-bg-color);
            }
        }
        header {
            h1 {
                color: var(--dark-primary-color);
            }
        }
        main {
            .main__container {
                box-shadow: var(--dark-box-shadow);
                aside {
                    background-color: var(--dark-aside-bg-color);
                    h2 {
                        color: var(--dark-primary-color);
                    }
                    .shadow__option {
                        .shadow__input {
                            label {
                                color: var(--dark-primary-color);
                            }
                            .shadow__slider {
                                background: linear-gradient(315deg, var(--primary-gradient-color), var(--secondary-gradient-color));
                                box-shadow: 0 0 2em 0 var(--primary-gradient-color), 0 0 2em 0 var(--secondary-gradient-color);
                                &::-webkit-slider-thumb {
                                    background: var(--dark-slider-thumb-color);
                                }
                                &::-moz-range-thumb {
                                    background: var(--dark-slider-thumb-color);
                                }
                            }
                        }
                        .shadow__value {
                            p {
                                color: var(--primary-gradient-color);
                                text-shadow: 0 0 .15em var(--primary-gradient-color), 0 0 .25em var(--secondary-gradient-color);
                            }
                        }
                    }
                    .environment__option {
                        .environment__label {
                            label {
                                color: var(--dark-primary-color);
                            }
                        }
                        .environment__inputs {
                            input:not([type="color"]){
                                background-color: var(--dark-input-bg-color);
                                color: var(--dark-input-color);
                            }
                            input[type="color"] {
                                &::-webkit-color-swatch {
                                    box-shadow: 0 0 .5em .1em rgb(0,0,0,0.5);
                                }
                                &::-moz-color-swatch {
                                    box-shadow: 0 0 .5em .1em rgb(0,0,0,0.5);
                                }
                            }
                        }
                    }
                }
                section {
                    article {
                        &.code {
                            background: linear-gradient(140deg, var(--primary-gradient-color), var(--secondary-gradient-color));
                            &::after {
                                background: linear-gradient(140deg, var(--primary-gradient-color), var(--secondary-gradient-color));
                            }
                            &::before {
                                background: linear-gradient(-140deg, var(--primary-gradient-color), var(--secondary-gradient-color));
                            }
                            .code__container {
                                background: var(--dark-glass-bg-color);
                                border-top: var(--dark-glass-border);
                                border-left: var(--dark-glass-border);
                                .code__footer {
                                    border-top: var(--dark-glass-top-border);
                                }
                            }
                        }
                    }
                }
            }
        }
        footer {
            h3 {
                color: var(--dark-primary-color);
            }
        }
    }
}
header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 5vh;
        height: auto;
        margin-right: 1em;
    }
    h1 {
        font-size: 2em;
        font-family: var(--secondary-font);
        color: var(--primary-color);
        font-weight: 600;
    }
}
main {
    display: flex;
    flex-direction: row;
    padding: 0 2em;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .main__container {
        width: 100%;
        height: 100%;
        box-shadow: var(--box-shadow);
        border-radius: 1.5em;
        display: flex;
        overflow: hidden;
        max-width: 1200px;
        aside {
            width: 35%;
            height: 100%;
            background-color: var(--aside-bg-color);
            padding: 2em;
            h2 {
                color: var(--primary-color);
                font-size: 1.2em;
            }
            .mt__spacing {
                margin-top: 1em;
            }
            .shadow__option {
                display: flex;
                .shadow__input {
                    width: 80%;
                    margin-bottom: .5em;
                    label {
                        font-size: 1em;
                        color: var(--primary-color);
                        margin-top: 1em;
                        margin-bottom: 1em;
                    }
                    .shadow__slider {
                        -webkit-appearance: none;
                        width: 100%;
                        height: .4em;
                        border-radius: .5em;
                        background: linear-gradient(315deg, var(--primary-gradient-color), var(--secondary-gradient-color));
                        box-shadow:  0 0 0 0 transparent, 0 0 0 0 transparent;
                        outline: none;
                        -webkit-transition: .2s;
                        transition: opacity .2s;
                        border: none;
                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;
                            width: 1.3em;
                            height: 1.3em;
                            border-radius: 50%;
                            background: var(--slider-thumb-color);
                            cursor: pointer;
                            border: none;
                            box-shadow: 0 0 .2em .1em rgb(0,0,0,0.3);
                        }
                        &::-moz-range-thumb {
                            width: 1.3em;
                            height: 1.3em;
                            border-radius: 50%;
                            background: var(--slider-thumb-color);
                            cursor: pointer;
                            border: none;
                            box-shadow: 0 0 .2em .1em rgb(0,0,0,0.3);
                        }
                    }
                }
                .shadow__value {
                    width: 20%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    p {
                        font-size: 1.5em;
                        font-weight: bold;
                        color: var(--primary-gradient-color);
                    }
                }
            }
            .environment__option {
                .environment__label {
                    label {
                        font-size: 1em;
                        color: var(--primary-color);
                        margin-top: 1.2em;
                        margin-bottom: .35em;
                    }
                }
                .environment__inputs {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;
                    input:not([type="color"]) {
                        border-radius: .2em;
                        padding: .8em;
                        background-color: var(--input-bg-color);
                        color: var(--input-color);
                        width: 100%;
                        text-transform: uppercase;
                    }
                    input[type="color"] {
                        padding: .21em;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        width: 2.5em;
                        height: 2.8em;
                        border: none;
                        cursor: pointer;
                        position: absolute;
                        right: .5em;
                        border-radius: 100%;
                        &::-webkit-color-swatch {
                            border: none;
                            border-radius: 100%;
                            box-shadow: 0 0 .2em .1em rgb(0,0,0,0.3);
                        }
                        &::-moz-color-swatch {
                            width: 2em;
                            height: 2em;
                            border: none;
                            border-radius: 100%;
                            box-shadow: 0 0 .2em .1em rgb(0,0,0,0.3);
                        }
                    }
                }
            }
        }
        section {
            width: 65%;
            height: 100%;
            display: flex;
            flex-direction: column;
            article {
                width: 100%;
                height: 50%;
                &.code {
                    background: linear-gradient(140deg, var(--primary-gradient-color), var(--secondary-gradient-color));
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                    &::after {
                        content: '';
                        position: absolute;
                        z-index: 1;
                        top: -30vh;
                        left: -20vh;
                        width: 50vh;
                        height: 50vh;
                        border-radius: 100%;
                        background: linear-gradient(140deg, var(--primary-gradient-color), var(--secondary-gradient-color));
                        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, .3));
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -20vh;
                        right: -20vh;
                        width: 50vh;
                        height: 50vh;
                        border-radius: 100%;
                        background: linear-gradient(-140deg, var(--primary-gradient-color), var(--secondary-gradient-color));
                        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, .3));
                    }
                    .code__container {
                        width: 100%;
                        height: 50%;
                        border-radius: 1em;
                        margin: 0 4em;
                        background: var(--glass-bg-color);
                        border-top: var(--glass-border);
                        border-left: var(--glass-border);
                        backdrop-filter: blur(.5em);
                        padding: 1em;
                        position: relative;
                        z-index: 2;
                        .code__header {
                            display: grid;
                            grid-template-columns: 3.75em auto 3.75em;
                            height: 1em;
                            .code__controls {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-around;
                                .code__control {
                                    width: .8em;
                                    height: .8em;
                                    border-radius: .4em;
                                }
                                .code__close {
                                    background-color: #EF4444;
                                }
                                .code__minimize {
                                    background-color: #EAB308;
                                }
                                .code__maximize {
                                    background-color: #22C55E;
                                }
                            }
                            .code__title {
                                color: #FFF;
                                display: flex;
                                text-align: center;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                        .code__body {
                            font-family: JetBrains Mono,monospace;
                            font-size: .9em;
                            line-height: 1.5em;
                            color: #FFF;
                            padding: 1.5em 0;
                            height: calc(100% - 2.5em);
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            .code__text {
                                span {
                                    text-shadow: .2em .1em .3em rgb(0,0,0);
                                    &:nth-child(1) {
                                        color: #9fc4f5;
                                    }
                                    &:nth-child(2) {
                                        color: #FFF;
                                    }
                                    &:nth-child(3) {
                                        color: #55E7B2;
                                    }
                                    &:nth-child(4) {
                                        color: #FFF;
                                    }
                                }
                            }
                        }
                        .code__footer {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 2.5em;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-top: var(--glass-top-border);
                            button {
                                color: #FFF;
                                font-weight: bold;
                                font-family: var(--secondary-font);
                                cursor: pointer;
                            }
                        }
                    }
                }
                &.shadow {
                    background-color: #FFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .shadow__container {
                        width: 50%;
                        height: 50%;
                        display: block;
                        border-radius: 1em;
                        box-shadow: 0 0 .75em 0 rgba(0, 0, 0, .50);
                    }
                }
            }
        }
    }
}
footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    h3 {
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-color);
        svg {
            font-size: 1em;
            width: 1em;
            height: 1em;
            &:nth-child(1) {
                margin-right: .4em;
            }
            &:nth-child(2) {
                margin: 0 .4em;
            }
        }
        a {
            margin-left: .4em;
            text-decoration: underline;
        }
    }
}
// Hidden textarea for copy to clipboard function
#clipboard {
    display: none;
}
// Toggle mode dark/light mode
#toggleMode {
    position: fixed;
    right: 0;
    bottom: 30vh;
    width: 4em;
    height: 4em;
    background-color: #FFF;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    svg {
        height: 100%;
    }
}


@media screen and (max-height: 960px){
    body {
        font-size: 80%;
    }
}
@media screen and (max-height: 780px){
    body {
        font-size: 70%;
    }
}

@media screen and (max-height: 700px){
    body {
        font-size: 60%;
    }
}
@media screen and (max-height: 600px){
    body {
        font-size: 50%;
    }
}
@media screen and (max-width: 992px){
    body {
        font-size: 75%;
    }
}

@media screen and (max-width: 800px){
    body {
        font-size: 100%;
        &.dark {
            header {
                background: var(--dark-aside-bg-color);
                h1 {
                    color: var(--dark-primary-color);
                }
            }
            main {
                .main__container {
                    box-shadow: none;
                }
            }
            footer {
                background-color: var(--dark-aside-bg-color);
                h3 {
                    color: var(--dark-primary-color);
                }
            }
        }
        header {
            background: var(--aside-bg-color);
            h1 {
                font-weight: bold;
                font-size: 1.5em;
                color: var(--primary-color);
            }
        }
        main {
            height: auto;
            padding: 0;
            .main__container {
                flex-direction: column;
                border-radius: 0;
                box-shadow: none;
                aside {
                    width: 100%;
                    .shadow__option {
                        .shadow__input {
                            width: 82%;
                        }
                        .shadow__value {
                            width: 18%;
                        }
                    }
                    .environment__option {
                        .environment__inputs {
                            input:not([type="color"]) {
                                min-height: 48px;
                            }
                            input[type="color"] {
                                width: 3em;
                                height: 3.3em;
                                padding: 0.3em;
                            }
                        }
                    }
                }
                section {
                    width: 100%;
                    article {
                        &.code {
                            padding: 2em;
                            &::before {
                                bottom: -35vh;
                                right: -30vh;
                            }
                            &::after {
                                top: -35vh;
                                left: -25vh;
                            }
                            .code__container {
                                .code__body {
                                    padding: 3em 0 5em;
                                    height: calc(100% - 3.5em);
                                }
                                .code__footer {
                                    height: 3.5em;
                                }
                            }
                        }
                        &.shadow {
                            height: 40vh;
                        }
                    }
                }
            }
        }
        footer {
            background-color: var(--aside-bg-color);
            h3 {
                color: var(--primary-color);
            }
        }
        #toggleMode {
            position: fixed;
            bottom: 3vh;
            width: 4em;
            height: 4em;
            right: 2vh;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            z-index: 10;
        }
    }
}
.accessibilityHack {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}